// For All
*,
html,
body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  list-style: none;
}
img {
  display: block;
}

// Colors
.c_whtie {
  color: #ffffff;
}
.c_black {
  color: #000000;
}
.c_red {
  color: #a00404;
}
.c_blue_9c4 {
  color: #96a9c4;
}
.c_red_165 {
  color: #415165;
}

// Repeat
.width_100persent {
  width: 100%;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.border_2px {
  border-bottom: 2px solid #000000;
}
.border_1px {
  border-bottom: 1px solid #000000;
}

.mt_16 {
  margin-top: 16px;
}

.mt_24 {
  margin-top: 24px;
}

.mb_24 {
  margin-bottom: 24px;
}

// Person Profile
.person_profile {
  padding-top: 47px;
  padding-bottom: 72px;
  .person_name {
    font-size: 80px;
    font: normal normal normal 80px/94px Roboto;
    padding-bottom: 17px;
  }

  .perser_img {
    display: block;
    padding: 48px 0;
  }

  .profile_title {
    font: normal normal normal 32px/43px Noto Sans;
    display: flex;
    align-items: center;
    padding-bottom: 8px;
    > span {
      font: normal normal 24px/28px Roboto;
      letter-spacing: 0px;
      padding-left: 16px;
    }
  }

  .profile_text_style {
    margin-bottom: 72px;
    font: normal normal normal 24px/36px Noto Sans;
    letter-spacing: 0px;
    .profile_des {
      padding: 16px 0 0 0;
    }
  }

  .education {
    margin-bottom: 0;
  }
}

// Skills
.skill_block {
  background-color: #415165;
  padding: 24px 0 36px 0;
  text-align: center;
  .border_1px {
    border-color: #ffffff;
  }
  .skill_title {
    display: flex;
    align-items: center;
    justify-content: center;
    font: normal normal 32px/45px PingFang TC;
    padding-bottom: 15px;
    > span {
      font: normal normal 24px/28px Roboto;
      padding-left: 16px;
    }
  }
  .skill_group {
    width: 220px;
    margin: auto;
    margin-top: 40px;
    border-left: 1px solid #fff;
    padding-left: 24px;
    font: normal normal 300 24px/36px Roboto;
    text-align: left;
    > p {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
        font: normal normal 300 24px/36px PingFang TC;
      }
    }
  }
}

// Work
.work {
  padding: 72px 0;
  .work_title {
    font: normal normal normal 32px/43px Noto Sans;
    display: flex;
    align-items: center;
    padding-bottom: 8px;
    > span {
      font: normal normal 24px/28px Roboto;
      letter-spacing: 0px;
      padding-left: 16px;
    }
  }
  .work_des {
    margin-top: 16px;
    padding-left: 24px;
    margin-left: 24px;
    border-left: 1px solid #96a9c4;
    img {
      padding: 8px 0;
    }
    .text_24px {
      font: normal normal normal 24px/36px Noto Sans;
      &:first-child,
      &:nth-child(7) {
        margin-bottom: 0;
      }
    }
    .text_20px {
      font: normal normal normal 20px/30px Noto Sans;
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 0;
      }
      &:nth-child(3) {
        width: 640px;
      }
    }
  }
}

// Contact
.contact {
  background-color: #415165;
  padding: 34px 0 36px 0;
  text-align: center;
  .border_1px {
    border-color: #ffffff;
    margin-bottom: 32px;
  }
  .container > ul > li {
    font: normal normal 300 24px/36px Roboto;
    margin-bottom: 16px;
  }
  .contact_title {
    display: flex;
    align-items: center;
    justify-content: center;
    font: normal normal 32px/45px PingFang TC;
    padding-bottom: 15px;
    > span {
      font: normal normal 24px/28px Roboto;
      padding-left: 16px;
    }
  }
  .media_group {
    display: flex;
    justify-content: center;
    a {
      display: block;
      cursor: pointer;
      transform: translateY(0);
      transition: all 0.3s;
      &:nth-child(2) {
        padding: 0 24px;
      }
      &:hover {
        transform: translateY(-10px);
        transition: all 0.3s;
      }
    }
  }
}
