// Util
@import './util/reset';
@import './util/reboot';
@import './util/variables';
@import './util/typography';
@import './util/function';
@import './util/mixins';
@import './util/breakpoint';

// layout
@import './layout/foot';
@import './layout/head';

// Pages

$color: #00cc99;

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  display: flex;
  transition: all 0.5s;
  &:hover {
    width: 200px;
    background-color: $color;
  }
}
