@import './reset';
@import './reboot';
@import './variables';
@import './typography';
@import './function';
@import './mixins';
@import './breakpoint';

$color: #00cc99;

.header {
  height: 200px;
  background-color: #00cc99;
  font-size: 25px;
  @include b1279 {
    font-size: 100px;
  }
  @include b768 {
    font-size: 200px;
  }
}

.footer {
  height: 200px;
  background-color: #00cc99;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  display: flex;
  transition: all 0.5s;
  &:hover {
    width: 200px;
    background-color: $color;
  }
}
