*,
html,
body {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', 'serif';
}
img {
  display: block;
}

// color
.c_white {
  color: #fff;
}
.c_black {
  color: black;
}
.c_gray {
  color: #707070;
}
.c_red {
  color: #891818;
}

// Utility classes
.container {
  margin: 0 auto;
  width: 1200px;
}
.w_588 {
  width: 588px;
}
.w_384 {
  width: 384px;
}
.img_group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

// Joanne
.sec_joanne {
  padding: 356px 10px 286px 10px;
  background: #111 url('../img/sec01_bg.png') no-repeat center/cover;
  .container {
    width: 305px;
  }
  p {
    font: italic normal bold 24px/42px Roboto;
    letter-spacing: 0px;
  }
  h1 {
    font: italic normal 900 80px/94px Roboto;
    letter-spacing: 0px;
  }
  .des {
    font: italic normal bold 24px/36px Roboto;
    letter-spacing: 0px;
    margin: 32px 0 48px 0;
  }
  .social_group {
    display: flex;
    justify-content: space-between;
    li:hover {
      transform: translateY(-10px);
      transition: all 0.3s;
    }
  }
}

// About
.sec_about {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 0 52px 0;
    .name_list {
      text-align: center;
      li {
        font: italic normal bold 24px/42px Roboto;
        letter-spacing: 0px;
      }
    }
    img {
      width: 384px;
      margin: 40px 0 24px 0;
    }
    .line {
      width: 384px;
      height: 2px;
      display: block;
      margin: 24px 0 32px 0;
      background-color: #000;
    }
  }
  h2 {
    font: normal 64px/75px Roboto;
    letter-spacing: 0px;
    font-style: italic;
  }
  .lists > li {
    list-style: red;
    text-align: center;
    font: italic normal bold 24px/42px Roboto;
    font-style: italic;
    letter-spacing: 0px;
    &:before {
      content: '';
      display: inline-block;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background: #891818 0% 0% no-repeat padding-box;
      transform: translateX(-16px);
      vertical-align: middle;
    }
  }
}

// My Brand
.sec_brand {
  background-color: #111;
  padding: 64px 0 160px 0;
  .container {
    margin: 0 auto;
    text-align: center;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
  }
  h2 {
    font: normal 64px/75px Roboto;
    font-style: italic;
    letter-spacing: 0px;
    margin-bottom: 16px;
  }
  h3 {
    font: normal 24px/42px Roboto;
    font-style: italic;
    letter-spacing: 0px;
    margin-bottom: 32px;
  }
  p {
    text-align: center;
    font: normal 20px/30px Roboto;
    letter-spacing: 0px;
    margin-bottom: 68px;
  }
  .img_group {
    li:nth-child(1) > img {
      width: 792px;
      margin-bottom: 40px;
    }
    li:nth-child(2) > img {
      margin-right: 24px;
    }
  }
}

// Other Works
.work {
  padding: 64px 0 160px 0;
  text-align: center;
  h2 {
    font: normal 64px/75px Roboto;
    font-style: italic;
    letter-spacing: 0px;
  }
  h4 {
    font: normal 20px/30px Roboto;
    font-style: italic;
    letter-spacing: 0px;
    margin-bottom: 56px;
  }
  .img_group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      margin-bottom: 56px;
    }
    p {
      margin-top: 16px;
      font: normal 20px/42px Roboto;
      font-style: italic;
      letter-spacing: 0px;
    }
  }
}

// contact
.contact {
  padding: 64px 0 80px 0;
  background-color: #111;
  text-align: center;
  h2 {
    font: normal 64px/75px Roboto;
    font-style: italic;
    letter-spacing: 0px;
  }
  a {
    text-decoration: none;
  }
  li:nth-child(1) {
    margin: 16px 0 16px 0;
  }
}
